{% extends 'base.html' %}
{% block content %}
<div class="row g-4">
    <div class="col-md-3"><div class="card panel-card p-4"><h6>Catalog Items</h6><h2>{{ catalog_count }}</h2></div></div>
    <div class="col-md-3"><div class="card panel-card p-4"><h6>Users</h6><h2>{{ user_count }}</h2></div></div>
    <div class="col-md-3"><div class="card panel-card p-4"><h6>Active Projects</h6><h2>{{ active_projects }}</h2></div></div>
    <div class="col-md-3"><div class="card panel-card p-4"><h6>Revenue</h6><h2>Rs. {{ revenue }}</h2></div></div>
</div>
{% endblock %}
