{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card panel-card p-4">
            <h3 class="mb-3">Manage User Project</h3>
            <p class="text-muted">{{ user_project.user.username }} / {{ user_project.project.title }}</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark">Update Lifecycle</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
